
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        
        <a href="@Url.Action("ExportToExcel")">Excel</a>
        <br />
        @Html.ActionLink("Excel file", "ExportToExcel")
        
    </div>
</body>
</html>
